# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# apps/ of executable files
apps/gate/gate
apps/game/game
apps/chat/chat
apps/client/client
apps/client_bots/client_bots
apps/combat/combat
apps/code_generator

# data/ serialize file
data/

# idea
.idea
.vscode
